:root{
  --primary-color: #f6f9fb;
  --secondary-color: #e9f0f4;
}

body{
  background-color: #f8f8f9;
}

.side-bar-bg{
  background-color: var(--primary-color);
}

.input-box
{
  background-color: var(--secondary-color);
  font-size: 20px;
}

.fw-500{
  font-weight: 500;
}

.time-size{
  font-size: 12px;
}

.header-bg{
  background-color: var(--secondary-color);
  width: fit-content;
}

.cursor-pointer{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}